html, body {
  background: #F2F2F2;
}

#aCopyUrl {
  margin-left: .5em;
}

.board .card {
  margin: .5em;
  background: #72A8B3;
  color: white;
  font-size: 1.2em;
  display: block;
  width: 100%;
  padding: 1em;
  text-align: center;
  line-height: 15vh;
}

.board .card[contentEditable="true"] {
  border: 3px dashed black;
}

.board .card.active {
  background: #032340;
  transition: all ease-in-out .5s;
  animation: cardAnimation .25s ease-in-out;
}

@keyframes cardAnimation {
    33% { transform: scale(1.1) rotate(-5deg); }
    66% { transform: scale(1.1) rotate(+5deg); }
    100% { transform: scale(1.0); }
}
